extends layout
block content
        .container.bg-light.mt-5.border.fadein(id='#fadein')
            form(action='#')
                .form-group.col-auto
                    label(for='Betreff') Anliegen
                    select#Betreff.form-control(data-toggle='tooltip', data-placement='top', title='Wählen sie aus was ihr Anliegen am besten Beschreibt')
                        option #1
                        option #2
                .form-group.col-auto(data-toggle='tooltip', data-placement='top', title='Beschreiben sie ihr Anliegen möglichst genau')
                    label(for='Eingabe') Eingabefeld
                    textarea#Eingabe.form-control
                    span#badge.badge.badge-danger
                button.btn.btn-primary.col-auto(type='submit', onclick='compare()') Submit
            .col-sm
        script(crossorigin='anonymous', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
        script(crossorigin='anonymous', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
        script(crossorigin='anonymous', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')


