doctype html
// Required meta tags
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
// Bootstrap CSS
link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
title Hello, world!
// Navbar
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark(class='navbar-toggleable-*')
    a.navbar-brand(href='#') Open Badges
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href='google.de') Starseite
            li.nav-item
                a.nav-link(href='amazon.de') Kursliste
            li.nav-item
                a.nav-link(href='amazon.de') Belegte Kurse
            li.nav-item
                a.nav-link(href='amazon.de') Admin Kontakt
            li.nav-item
                a.nav-link(href='amazon.de', style='color: red;') Logout
// Navbar ende
form
    .form-row
        .form-group.col-auto
            label(for='email') E-Mail
            input#email.form-control(type='email', placeholder='example@mail.com', <='', div='')
            .form-group.col-auto
            label(for='passwort') Passwort
                input#passwort.form-control(type='password', placeholder='Passwort')
        .form-row
            .form-group.col-auto
                label(for='geburtstag') Geburtstag
                select#geburtstag.form-control
                    option(selected='')  1
                    option 2
                    option 3
                    option 4
                    option 5
                    option 6
                    option 7
                    option 8
                    option 9
                    option 10
                    option 11
                    option 12
                    option 13
                    option 14
                    option 15
                    option 16
                    option 17
                    option 18
                    option 19
                    option 20
                    option 21
                    option 22
                    option 23
                    option 24
                    option 25
                    option 26
                    option 27
                    option 28
                    option 29
                    option 30
                    option 31
            .form-group.col-auto
                label(for='geburtsmonat') Geburtsmonat
                select#geburtsmonat.form-control
                    option(selected='')  1
                    option 2
                    option 3
                    option 4
                    option 5
                    option 6
                    option 7
                    option 8
                    option 9
                    option 10
                    option 11
                    option 12
            .form-group
                label(for='Geburtsjahr') Geburtsjahr
                input#Geburtsjahr.form-control(type='number', min='0', max='10')
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
