extends layout
block content
    script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js', integrity='sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==', crossorigin='')
    //Wenn man das Stylesheet weglässt wird es ziemlich Buggy ^^
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.0.3/dist/leaflet.css')
    .container(id='#fadein')
        .row
            .col
            .col-6
                .container.bg-light.mt-5.border
                    form
                        h1 Kurs XY
                        .form-row
                            .form-group.col-auto
                                label(for='titel') Kurstitel
                                input#titel.form-control(value='', readonly='')
                            .form-group.col-auto
                                label(for='ersteller') Ersteller
                                input#ersteller.form-control(value='', readonly='')
                        .form-row
                            .form-group.col-auto
                                label(for='Thema') Thema
                                input#Thema.form-control(value='', readonly='')
                            .form-group
                                label(for='voraussetzungen') Voraussetzungen
                                input#voraussetzungen.form-control(value='', readonly='')
                        .form-row
                            .form-group.col-auto
                                label(for='start') Startdatum
                                input#start.form-control(readonly='')
                            .form-group.col-auto
                                label(for='ende') Enddatum
                                input#ende.form-control(readonly='')
                        .form-row
                            .form-group
                                label(for='beschreibung') Beschreibung
                                textarea#beschreibung.form-control(rows='3', style='resize: none', readonly='')
                        button.btn.btn-primary(type='submit') Anmelden
                div
                    .container.bg-light.mt-5.border
                        h1 Globale Badges
                    // Hier for schleife und if einfügen für Badges
                    div
                        .container.bg-light.mt-5.border
            .col
