<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<!-- Navbar -->
<body onload="f()">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-toggleable-*"><a class="navbar-brand" href="#">Open Badges</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="google.de">Starseite</a></li>
            <li class="nav-item"><a class="nav-link" href="amazon.de">Kursliste</a></li>
            <li class="nav-item"><a class="nav-link" href="amazon.de">Belegte Kurse</a></li>
            <li class="nav-item"><a class="nav-link" href="amazon.de">Admin Kontakt</a></li>
            <li class="nav-item"><a class="nav-link" href="amazon.de" style="color: red;">Logout</a></li>
        </ul>
    </div>
</nav>
<!--Navbar ende-->

<div id="group">
    <div class="container">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-auto mt-2">
                    <a class="btn btn-primary" data-parent="#group" data-toggle="collapse" href="#collapseSettings" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Kontodaten
                    </a>
                    <button class="btn btn-primary" data-parent="#group" type="button" data-toggle="collapse" data-target="#collapsedeactivate" aria-expanded="false" aria-controls="collapseExample">
                        Konto Löschen
                    </button>
            </div>
            <div class="col-sm">

            </div>
        </div>
    </div>
</div>
<div class="collapse" id="collapsedeactivate">
    <div class="container bg-light mt-5 border">
        <p>
            Möchtest du dein Konto wirklich Löschen? Alle deine erstellten Kurse
            und nicht exportierten Badges werden gelöscht!
            <form action="#">
                <button type="button" class="btn btn-danger btn-lg btn-block mt-5" >Konto Deaktivieren</button>
            </form>
        </p>
    </div>
</div>


<div class="collapse" id="collapseSettings">
    <div class="card card-body">
        <div class="container bg-light mt-5 border">
            <div class="row">
                <div class="col-lg"></div>
                <div class="col-lg-6">
                    <h1>Konto Anpassung</h1><br>
                    <form action="#">
                        <div class="form-row">
                            <div class="form-group col-auto" id="Email">
                                <label for="inputEmail4">Email</label>
                                <input class="form-control" id="inputEmail4" type="email" placeholder="Email@example.com" data-toggle="tooltip" data-placement="top" title="Gültige Email Adresse">
                            </div>
                            <div class="form-group col-auto" id="Password1">
                                <label for="inputPassword">Passwort</label>
                                <input class="form-control" id="inputPassword" type="password" placeholder="Password" data-toggle="tooltip" data-placement="top" title="Passwort mit mindestens 5 Zeichen">
                            </div>
                            <div class="form-group col-auto" id="Password2">
                                <label for="inputPassword2">Passwort Bestätigen</label>
                                <input class="form-control" id="inputPassword2" type="password" placeholder="Password" data-toggle="tooltip" data-placement="top" title="Identisches Passwort"><span class="badge badge-danger" id="pwtext"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-auto">
                                <label for="inputVoname">Vorname</label>
                                <input class="form-control" id="inputVoname" type="text" placeholder="Max" data-toggle="tooltip" data-placement="top" title="Vorname">
                            </div>
                            <div class="form-group col-auto">
                                <label for="inputNachnahme">Nachnahme</label>
                                <input class="form-control" id="inputNachnahme" type="text" placeholder="Mustermann" data-toggle="tooltip" data-placement="top" title="Nachnahme">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-auto">
                                <label for="inputCity">Stadt</label>
                                <input class="form-control" id="inputCity" type="text" placeholder="Musterstadt" data-toggle="tooltip" data-placement="top" title="Wohnort">
                            </div>
                            <div class="form-group col-auto">
                                <label for="inputZip">Postleitzahl</label>
                                <input class="form-control" id="inputZip" type="number" min="10000" max="99999" placeholder="00000" data-toggle="tooltip" data-placement="top" title="Postleitzahl des Wohnortes">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-auto">
                                <label for="inputDate">Geburtsdatum</label>
                                <input class="form-control" id="inputDate" type="date" data-toggle="tooltip" data-placement="top" title="Geburtsdatum">
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit" id="Send">Speichern</button>
                        <button type="button" class="btn btn-danger" type="reset">Reset</button>
                    </form>
                </div>
                <div class="col-lg"></div>
            </div><br>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
    document.getElementById("Send").addEventListener("click", function (event) {
        pw1 = document.getElementById('inputPassword').value;
        pw2 = document.getElementById('inputPassword2').value;
        pwident = null;
        pwshort = null;
        if (pw1 != pw2) {
            pwident = true;
        } else {
            pwident = false;
        }
        if (pw1.length < 5) {
            pwshort = true;
        } else {
            pwshort = false;
        }
        if (!pwident && !pwshort) {

        } else if (pwident || pwshort) {
            if (pwshort) {
                document.getElementById('pwtext').innerText = 'Passwort zu Kurz';
                event.preventDefault()
            }
            if (pwident) {
                document.getElementById('pwtext').innerText = 'Passwörter stimmen nicht überein';
                event.preventDefault()
            }
        } else {
            document.getElementById('pwtext').innerText = "";
        }
        if(document.getElementById("inputEmail4").value == ""){
            document.getElementById('vorname').innerText = 'Vorname Eingeben';
            event.preventDefault();
        }
        if (document.getElementById("inputEmail4").value == "") {
            document.getElementById('nachnahme').innerText = 'Nachnahme Eingeben';
            event.preventDefault();
        }
        if (document.getElementById("inputEmail4").value == "") {
            document.getElementById('city').innerText = 'City Eingeben';
            event.preventDefault();
        }
        if (document.getElementById("inputEmail4").value == "") {
            document.getElementById('email').innerText = 'Email Eingeben';
            event.preventDefault();
        }
        if (document.getElementById("inputEmail4").value == "") {
            document.getElementById('plz').innerText = 'Postleitzahl Eingeben';
            event.preventDefault();
        }
        if (document.getElementById("inputEmail4").value == "") {
            document.getElementById('date').innerText = 'Gebursdatum Eingeben';
            event.preventDefault();
        }
    });

</script>
</body>
</html>
