extends layout


block content
  link(href='/leaflet/leaflet.css' rel='stylesheet')
  // Filter
  #group
      .container(id='#fadein')
          .row
              .col-sm
              .col-auto.mt-2
                  button.btn.btn-primary(data-parent='#group', type='button', data-toggle='collapse', data-target='#collapsedeactivate', aria-expanded='false', aria-controls='collapseExample')
                      | Filtern
              .col-sm
  #collapsedeactivate.collapse
      .container.bg-light.mt-5.border
          p
              | Hier kannst du deine Kurse filtern.
          p
              input#myInput(type='text' onkeyup='myFunction()' placeholder='Suche nach Kursname' title='Type in a name')
          p
              input#myInput1(type='text' onkeyup='myFunction1()' placeholder='Ort' title='Type in a name')
          p
              input#myInput2(type='text' onkeyup='myFunction2()' placeholder='Kursanbieter' title='Type in a name')
          p
              input#myInput3(type='text' onkeyup='myFunction3()' placeholder='Kursthema' title='Type in a name')

              .form-row
                  .form-group.col-auto
                      label(for='inputDate') Der Kurs beginnt am:
                      input#inputDate1.form-control(type='date', onkeyup='myFunction4()', data-toggle='tooltip', data-placement='top', placeholder='Beginndatum', title='Beginndatum')
                      span#date.badge.badge-danger

              .form-row
                  .form-group.col-auto
                      label(for='inputDate') Der Kurs endet am:
                      input#inputDate2.form-control(type='date', onkeyup='myFunction5()' , data-toggle='tooltip', data-placement='top', placeholder='Enddatum', title='Enddatum')
                      span#date.badge.badge-danger
          form(action='#')

          p

  // Karte Leaflet
  #map(style='height:220px;')
  script(src='/leaflet/leaflet.js')
  script(src='/javascripts/leaflet.js')

  // Beispiel Tabelle zum Testen
  table#myTable
    tr.header
      th(style='width:30%;') Kursname
      th(style='width:30%;') Kursort (Postleitzahl)
      th(style='width:10%;') Kursanbieter
      th(style='width:30%;') Kursthema
      th(style='width:30%;') Beginndatum
      th(style='width:30%;') Enddatum
    tr
      td Einführung in die Geoinformatik
      td Münster
      td Prof. Müller
      td Geoinformatik Anfänger
      td 01.01.2020
      td 01.02.2020
    tr
      td Löten Einsteigerkurs
      td Hamm
      td Laura
      td Löten für Anfänger
      td 01.01.2020
      td 05.01.2020
    tr
      td Mathematik für 1. Klässler
      td Münster
      td Frau Bauer
      td Mathematik Grundkenntnisse
      td 06.01.2020
      td 31.12.2020

  script(src='/javascripts/filter.js')
