extends layout
block content
    // Sieht zwar nicht so schön aus wie der alte login, ist aber konsistent zum Design
    .container(id='#fadein')
        .row
            .col
                .mt-5
                    img.img-fluid(src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Logo_WWU_M%C3%BCnster.svg/2000px-Logo_WWU_M%C3%BCnster.svg.png', alt='Responsive image')
            .col-6
                .container.bg-light.mt-5.border
                    h1  Open Badges Login
                    form(action='/nutzer/anmelden' method='POST')
                        .form-groupform
                            label(for='exampleInputUsername') Nutzername
                            input#exampleInputUsername.form-control(type='text', name='username', aria-describedby='usernameHelp')
                        .form-group
                            label(for='exampleInputPassword') Passwort
                            input#exampleInputPassword.form-control(type='password', name='password')
                        button.btn.btn-primary.btn-lg.btn-block(type='submit') Login
                    br
                    a(href='/nutzer/passwort')
                        button.btn.btn-danger.btn-lg.btn-block(type='Passwort vergessen') Passwort vergessen
                    br
            .col
