extends layout
block content
    // Badge Vergabe für globale & lokale Badges !
    .card.card-body
        .container.bg-light.mt-5.border(id='#fadein')
            .row
                .col-lg
                .col-lg-6
                    //Ersetzen durch badge, Schleifen einfügen
                    if(true)
                        form
                            table.table.table-striped
                                thead
                                    tr
                                        th(scope='col') #
                                        th(scope='col') Name
                                        th(scope='col') //Badge

                                tbody
                                    tr
                                        th(scope='row') 1
                                        td Mark
                                        td
                                            input.form-check-input(type='checkbox', value='Badge')
                                        td
                                            input.form-check-input(type='checkbox', value='option1')
                                    tr
                                        th(scope='row') 2
                                        td Jacob
                                        td
                                            input.form-check-input(type='checkbox', value='option1')
                                        td
                                            input.form-check-input(type='checkbox', value='option1')
                                    tr
                                        th(scope='row') 3
                                        td Larry
                                        td
                                            input.form-check-input(type='checkbox', value='option1')
                                        td
                                            input.form-check-input(type='checkbox', value='option1')
                            button.btn.btn-primary.mb-2(type='submit') Badge Vergabe Bestätigen
                .col-lg
            br
