extends layout
block content
    .container(id='#fadein')
        .row
            .col
                .mt-5
                    img.img-fluid(src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Logo_WWU_M%C3%BCnster.svg/2000px-Logo_WWU_M%C3%BCnster.svg.png', alt='Responsive image')
            .col-6
                .container.bg-light.mt-5.border
                    h1 Passwort Vergessen?
                    p
                        | Gib die Email Adresse die deinem Konto zugeordnet ist ein und wir Schicken dir ein neues Passwort zu!
                    // Keine Ahnung ob die Action so korrekt ist. Müsste man das Backend Team Fragen !
                    form(action='http://localhost:3001/user/password/request')
                        .form-group
                            label(for='exampleInputEmail1') Email Adresse
                            input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp')
                        button.btn.btn-primary.btn-lg.btn-block(type='submit') Abschicken
                    br
            .col
