extends layout
block content
    body.bg-white(onload='fadeIn()')
        .container.bg-light.mt-5.border.fadein(id='#fadein')
            .row
                .col-lg
                .col-lg-6
                    h1 Open Badges Registrierung
                    br
                    form(action='/nutzer/registrieren', method='POST')
                        .form-row
                            .form-group.col-auto
                                label(for='inputEmail4') Email
                                input#inputEmail4.form-control(type='email', name='email', placeholder='Email@example.com', data-toggle='tooltip', data-placement='top', title='Gültige Email Adresse')
                            .form-group.col-auto
                                label(for='inputEmail4') Nutzername
                                input#inputEmail4.form-control(type='text', name='username', placeholder='M_Mustermann', data-toggle='tooltip', data-placement='top', title='Nutzername mindestens 6 Zeichen')
                            .form-group.col-auto
                                label(for='inputPassword') Passwort
                                input#inputPassword.form-control(type='password', name='password' placeholder='Password', data-toggle='tooltip', data-placement='top', title='Passwort mit mindestens 5 Zeichen')
                            .form-group.col-auto
                                label(for='inputPassword2') Passwort Bestätigen
                                input#inputPassword2.form-control(type='password', name='confirmPassword' placeholder='Password', data-toggle='tooltip', data-placement='top', title='Identisches Passwort')
                                span#pwtext.badge.badge-danger
                        .form-row
                            .form-group.col-auto
                                label(for='inputVoname') Vorname
                                input#inputVoname.form-control(type='text', name='firstname', placeholder='Max', data-toggle='tooltip', data-placement='top', title='Vorname')
                            .form-group.col-auto
                                label(for='inputNachnahme') Nachname
                                input#inputNachnahme.form-control(type='text', name='lastname', placeholder='Mustermann', data-toggle='tooltip', data-placement='top', title='Nachnahme')
                        .form-row
                            .form-group.col-auto
                                label(for='inputCity') Stadt
                                input#inputCity.form-control(type='text', name='city' placeholder='Musterstadt', data-toggle='tooltip', data-placement='top', title='Wohnort')
                                span#city.badge.badge-danger
                            .form-group.col-auto
                                label(for='inputZip') Postleitzahl
                                input#inputZip.form-control(type='number', name='postalcode' min='10000', max='99999', placeholder='00000', data-toggle='tooltip', data-placement='top', title='Postleitzahl des Wohnortes')
                                span#plz.badge.badge-danger
                        .form-row
                            .form-group.col-auto
                                label(for='inputDate') Geburtsdatum
                                input#inputDate.form-control(type='date', name='birthday', data-toggle='tooltip', data-placement='top', title='Geburtsdatum')
                                span#date.badge.badge-danger
                        button.btn.btn-primary#Send(type='submit') Sign in
                .col-lg
            br
        script.
            document.getElementById("Send").addEventListener("click", function (event) {
                pw1 = document.getElementById('inputPassword').value;
                pw2 = document.getElementById('inputPassword2').value;
                pwident = null;
                pwshort = null;
                if (pw1 != pw2) {
                    pwident = true;
                } else {
                    pwident = false;
                }
                if (pw1.length < 5) {
                    pwshort = true;
                } else {
                    pwshort = false;
                }
                if (!pwident && !pwshort) {
                } else if (pwident || pwshort) {
                    if (pwshort) {
                        document.getElementById('pwtext').innerText = 'Passwort zu Kurz';
                        event.preventDefault()
                    }
                    if (pwident) {
                        document.getElementById('pwtext').innerText = 'Passwörter stimmen nicht überein';
                        event.preventDefault()
                    }
                } else {
                    document.getElementById('pwtext').innerText = "";
                }

                if (document.getElementById("inputVoname").value == "") {
                    document.getElementById('vorname').innerText = 'Vorname Eingeben';
                    event.preventDefault();
                } else {
                    document.getElementById('vorname').innerText = "";
                }

                if (document.getElementById("inputNachnahme").value == "") {
                    document.getElementById('nachnahme').innerText = 'Nachnahme Eingeben';
                    event.preventDefault();
                } else {
                    document.getElementById('nachnahme').innerText = "";
                }

                if (document.getElementById("inputCity").value == "") {
                    document.getElementById('city').innerText = 'City Eingeben';
                    event.preventDefault();
                } else {
                    document.getElementById('city').innerText = "";
                }

                if (document.getElementById("inputEmail4").value == "") {
                    document.getElementById('email').innerText = 'Email Eingeben';
                    event.preventDefault();
                } else {
                    document.getElementById('email').innerText = "";
                }

                if (document.getElementById("inputZip").value == "") {
                    document.getElementById('plz').innerText = 'Postleitzahl Eingeben';
                    event.preventDefault();
                } else {
                    document.getElementById('plz').innerText = "";
                }

                if (document.getElementById("inputDate").value == "") {
                    document.getElementById('date').innerText = 'Gebursdatum Eingeben';
                    event.preventDefault();
                } else {
                    document.getElementById('date').innerText = "";
                }
            });
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
