extends layout

block content
  h1= title

  form(method='POST' action='/user/register')
    label.labelRegister(for='firstname') Vorname:
    br
    input(name='firstname' type='text' required='' style='width: 100%')
    br
    label.labelRegister(for='lastname') Nachname:
    br
    input(name='lastname' type='text' required='' style='width: 100%')
    br
    label.labelRegister(for='email') Email:
    br
    input(name='email' type='email' required='' style='width: 100%')
    br
    label.labelRegister(for='username') Benutzername:
    br
    input(name='username' type='text' required='' style='width: 100%')
    br
    label.labelRegister(for='password') Passwort:
    br
    input(name='password' type='password' required='' style='width: 100%')
    br
    br
    button(type='submit') Registrieren
